{% extends "BoutiqueGestionStockBundle::layout.html.twig" %}

{% block content %}

    <h1>Modification de la facture n°{{ facture.id }}</h1>

    <div class="hidden" id="id_facture">{{ facture.id }}</div>

    Rechercher un article : 
    <form id="search_facture_article_form" action="{{ path('facture_article_search', {'id_facture' : facture.id}) }}" method="post">
        <input id="search_facture_article_field" type='text' name='search_facture_article' >
    </form>
    
    <div id="search_results"></div>
    <div id="facture_erreurs"></div>
    
    <div id="facture_article_list">
        <div class="facture_empty" {% if facture.factArticles|length > 0 %}style="display : none;" {% endif %}>Cette facture ne contient actuellement aucun article. Vous pouvez en ajouter en utilisant le champ de recherche.</div>
        <ul class="facture_content">
            {% for fact_article in facture.factArticles %}
                {% include 'BoutiqueGestionStockBundle:Ajax_Facture:article_quantite_form.html.twig' with {'fact_article' : fact_article} %}
            {% endfor %}
        </ul>

        {% include 'BoutiqueGestionStockBundle:Ajax_Facture:facture_total.html.twig' with {'fact_article' : facture} %}
    </div>

    <a href="{{ path('facture') }}">Annuler</a>
    <button id="facture_validate">Valider la facture</button>

{% endblock %}