<div class="facture_client_search">
    Rechercher un client : 
    <form id="facture_client_search_form" action="{{ path('facture_client_search', {'id_facture' : facture.id}) }}" method="post">
        <input id="facture_client_search_field" type='text' name='search_facture_client' >
    </form>

    <div id="client_search_results"></div>
    
    <br />Le client que vous cherchez n'existe pas ? Créez en un : <a id="facture_client_new" href="#">Nouvelle fiche client</a>
    
    <div id="facture_client_new_container" class="hidden">
        <form id="facture_client_new_form" action="{{ path('facture_client_new', {'id_facture' : facture.id}) }}" method="post" {{ form_enctype(form) }}>
            {% include 'BoutiqueGestionStockBundle:Client:form.html.twig' with {'client_form' : form} %}
            <a id="client_new_form_cancel" href="{{ path('client') }}">Annuler</a> | <button id="facture_client_new_submit" type="submit">Enregistrer</button>
        </form>
    </div>
</div>
