<div class="well">
    <form class="form-horizontal" id="facture_client_search_form" action="{{ path('facture_client_search', {'id_facture' : facture.id}) }}" method="post">
        <div class="control-group">
            <label class="control-label" for="facture_client_search_field">Rechercher un client </label>
            <div class="controls">
                <div class="input-prepend">
                    <span class="add-on"><i class="icon-search"></i></span>
                    <input id="facture_client_search_field" name='search_facture_client' type="text" class="" placeholder="Recherche un client">
                    <button type="submit" class="btn">Rechercher</button>
                </div>
            </div>
        </div>
    </form>

    <div id="client_search_results"></div>
    
    <br />Le client que vous cherchez n'existe pas ? Créez en un : <a id="facture_client_new" href="#">Nouvelle fiche client</a>
    
    <div id="facture_client_new_container" class="hidden ajax_form">
        <form id="facture_client_new_form" action="{{ path('facture_client_new', {'id_facture' : facture.id}) }}" method="post" {{ form_enctype(form) }}>
            {% include 'BoutiqueGestionStockBundle:Client:form.html.twig' with {'client_form' : form} %}
            <a id="client_new_form_cancel" href="{{ path('client') }}">Annuler</a> | <button id="facture_client_new_submit" type="submit">Enregistrer</button>
        </form>
    </div>
</div>
