<ul id="facture_total">
    <li id="facture_prix_total_ht">Total HT : {{ facture.getPrixTotalHt }}</li>
    <li id="facture_prix_total_tva">Total TVA. : {{ facture.getTvaTotal }}</li>
    <li id="facture_prix_total_ttc">Total TTC : {{ facture.getPrixTotalTtc }}</li>
</ul>