<tr class="success">
    <td class="left" colspan=5>Total hors taxes</td>
    <td class="right" colspan=2>{{ facture.montantFactureHT }} €</td>
</tr>
<tr class="success">
    <td class="left" colspan=5>Total TVA</td>
    <td class="right" colspan=2>{{ facture.getTvaTotal }} €</td>
</tr>
<tr class="success">
    <td class="left" colspan=5>Total à payer</td>
    <td class="right" colspan=2>{{ facture.montantFactureTTC }} €</td>
</tr>