<tr class="facture_total">
    <td class="ui-widget-content left" colspan=5>Total hors taxes</td>
    <td class="ui-widget-content right">{{ facture.montantFactureHT }} €</td>
</tr>
<tr class="facture_total">
    <td class="ui-widget-content left" colspan=5>Total TVA</td>
    <td class="ui-widget-content right">{{ facture.getTvaTotal }} €</td>
</tr>
<tr class="facture_total">
    <td class="ui-widget-content left" colspan=5>Total à payer</td>
    <td class="ui-widget-content right">{{ facture.montantFactureTTC }} €</td>
</tr>