

<form action="{{ path('facture_commit', {'id': facture.id}) }}" method="post">
    <div class="right">
        <a class="btn btn-danger" href="{{ path('facture') }}">Annuler</a>
    <input class="btn btn-success" id="facture_commit" type="submit" value="Finaliser la facture" />
</form>