{% extends "BoutiqueGestionStockBundle::layout.html.twig" %}

{% block content %}

    <h3 class="icon_32_before icon_32_next">Administration</h3>

    <p>A remplir avec les alertes, nouveautés, etc.</p>
{% endblock %}