<h3>Facturation</h3>
<ul>
    <li>Nouvelle facture</li>
</ul>

<h3>Gestion du stock</h3>
<ul>
    <li><a href="{{ path('article_new') }}">Ajouter un article</a></li>
    <li><a href="{{ path('stock_new') }}">Ajouter du stock à un article</a></li>
</ul>