{% extends "BoutiqueGestionStockBundle::layout.html.twig" %}

{% block content %}
    <h3 class="icon_32_before icon_32_next">Nouvelle fiche client</h3>
    <form action="{{ path('client_create') }}" method="post" {{ form_enctype(form) }}>
        {% include 'BoutiqueGestionStockBundle:Client:_form.html.twig' with {'form' : form} %}
        
        <div class="right">
            <a class="btn" href="{{ path('client') }}">Annuler</a>
            <button class="btn btn-success" type="submit">Enregistrer</button>
        </div>
    </form>
{% endblock %}