/* 
    Document   : main
    Created on : 15 oct. 2012, 08:15:14
    Author     : gautierju
    Description:
        Purpose of the stylesheet follows.
*/
body{ width : 90%; padding-left : 5%; }

.main-container { 
    padding : 15px; 
    min-height : 600px;
    background-color: #ffffff;
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, 0.3);
    *border: 1px solid #999;
    -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
            border-radius: 6px;
    outline: none;
    -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
        -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
            box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    -webkit-background-clip: padding-box;
        -moz-background-clip: padding-box;
            background-clip: padding-box;
}

.block { display : block }

.hidden {display : none;}
.left {text-align : left;}
.center {text-align : center;}
.right {text-align : right;}

.bold { font-weight : bold; }
.italic {font-style: italic;}

.width40 { width: 40%;}
.width30 { width: 30%;}
.width25 { width: 25%;}
.width20 { width: 20%;}
.width15 { width: 15%;}
.width10 { width: 10%;}

h3 {
    min-height: 40px;
    padding-right: 20px;
    padding-left: 20px;
    background-color: #fafafa;
    background-image: -moz-linear-gradient(top,#fff,#f2f2f2);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#fff),to(#f2f2f2));
    background-image: -webkit-linear-gradient(top,#fff,#f2f2f2);
    background-image: -o-linear-gradient(top,#fff,#f2f2f2);
    background-image: linear-gradient(to bottom,#fff,#f2f2f2);
    background-repeat: repeat-x;
    border: 1px solid #d4d4d4;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',endColorstr='#fff2f2f2',GradientType=0);
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.065);
    -moz-box-shadow: 0 1px 4px rgba(0,0,0,0.065);
    box-shadow: 0 1px 4px rgba(0,0,0,0.065);
}

h4 { border-bottom : 2px dashed #CDCDCD; padding-bottom : 5px; color : gray; }

.top10 { margin-top : 10px; }
.bottom10 { margin-bottom : 10px; }

table { font-size : 12px; }
table th { padding: 5px; font-size : 14px; }
table th.blue { background-color : #A2B5BF; }
table td { padding: 0px; background : white; }

.section { margin-bottom : 30px; padding-left : 10px; padding-right : 10px; }
.filters { float : right; }

.ajax_form { padding : 20px; background-color : #EEEEEE; border : 1px solid gray; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; position : absolute; margin : 0 auto; z-index : 5; }

#stock_list { list-style-type: none; }

.ui-widget-header.sorted a{ color : #CD0A0A; }
.ui-widget-header-partiel { border-left: 1px solid #aaaaaa; border-right: 1px solid #aaaaaa; background: #cccccc url(images/ui-bg_highlight-soft_75_cccccc_1x100.png) 50% 50% repeat-x; color: #222222; font-weight: bold; }
.ui-widget-separator { background: #cccccc url(images/ui-bg_highlight-soft_75_cccccc_1x100.png) 50% 50% repeat-x; line-height : 1px; height : 1px;  }

.action_menu .icon_16{ float : left; }
.action_link{ position : relative; font-weight : bold; text-decoration : none; font-size : 14px; }
.action_link .icon_16{ float : left; margin-right : 5px; }

.bordered {
    padding : 10px;
    margin-bottom : 10px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
    -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
    -o-transition: border linear 0.2s, box-shadow linear 0.2s;
    transition: border linear 0.2s, box-shadow linear 0.2s;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
     -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

/* Mise en page de liste sous forme d'arbre */
ul.category-list,
ul.category-list ul {
  list-style:none;
  margin:0;
  padding:0;
}

ul.category-list ul { margin-left: 15px; }
ul.category-list li .list-opened { background: url("images/12px/arrow_bottom_12.png") 0 3px no-repeat; padding-left : 20px;}
ul.category-list li .list-opened-hover { background: url("images/12px/arrow_bottom_hover_12.png") 0 3px no-repeat; padding-left : 20px;}
ul.category-list li .list-closed { background: url("images/12px/arrow_right_12.png") 0 3px no-repeat; padding-left : 20px;}
ul.category-list li .list-closed-hover { background: url("images/12px/arrow_right_hover_12.png") 0 3px no-repeat; padding-left : 20px;}

/* loader icon */
.loader { background : url("images/ajax-loader.gif") no-repeat 50% 50%; height: 32px; margin-bottom: 20px }

/* Wrap icons */
.icon_12 {width: 12px; height: 12px;}
.icon_16 {width: 16px; height: 16px;}
.icon_24 {width: 24px; height: 24px;}
.icon_32 {width: 24px; height: 24px;}
.icon_12_before { height: 16px; background-repeat: no-repeat; padding-left : 16px; line-height : 16px; }
.icon_16_before { height: 16px; background-repeat: no-repeat; padding-left : 20px; line-height : 16px; }
.icon_24_before { height: 24px; background-repeat: no-repeat; padding-left : 32px; line-height : 24px; }
.icon_32_before { height: 32px; background-repeat: no-repeat; padding-left : 36px; line-height : 32px; }

/* Icons 12px */
.icon_12_arrow_bottom {background-image: url(images/12px/arrow_bottom_12.png);}
.icon_12_arrow_bottom_hover {background-image: url(images/12px/arrow_bottom_hover_12.png);}
.icon_12_arrow_right {background-image: url(images/12px/arrow_right_12.png);}
.icon_12_arrow_right_hover {background-image: url(images/12px/arrow_right_hover_12.png);}

/* Icons 16px */
.icon_16_address {background-image: url(images/16px/address_16.png);}
.icon_16_block {background-image: url(images/16px/block_16.png);}
.icon_16_briefcase {background-image: url(images/16px/briefcase_16.png);}
.icon_16_bubble {background-image: url(images/16px/bubble_16.png);}
.icon_16_buy {background-image: url(images/16px/buy_16.png);}
.icon_16_calendar {background-image: url(images/16px/calendar_16.png);}
.icon_16_clipboard {background-image: url(images/16px/clipoard_16.png);}
.icon_16_clock {background-image: url(images/16px/clock_16.png);}
.icon_16_contact_email {background-image: url(images/16px/contact_email_16.png);}
.icon_16_database_add {background-image: url(images/16px/database_add_16.gif);}
.icon_16_delete {background-image: url(images/16px/delete_16.png);}
.icon_16_delete2 {background-image: url(images/16px/delete2_16.gif);}
.icon_16_diagram {background-image: url(images/16px/diagram_16.png);}
.icon_16_document {background-image: url(images/16px/document_16.png);}
.icon_16_down {background-image: url(images/16px/down_16.png);}
.icon_16_file_delete {background-image: url(images/16px/file_delete_16.gif);}
.icon_16_flag {background-image: url(images/16px/flag_16.png);}
.icon_16_folder {background-image: url(images/16px/folder_16.png);}
.icon_16_heart {background-image: url(images/16px/heart_16.png);}
.icon_16_help {background-image: url(images/16px/help_16.png);}
.icon_16_home {background-image: url(images/16px/home_16.png);}
.icon_16_info {background-image: url(images/16px/info_16.png);}
.icon_16_key {background-image: url(images/16px/key_16.png);}
.icon_16_label {background-image: url(images/16px/label_16.png);}
.icon_16_left {background-image: url(images/16px/left_16.png);}
.icon_16_letter {background-image: url(images/16px/letter_16.png);}
.icon_16_lock {background-image: url(images/16px/lock_16.gif);}
.icon_16_monitor {background-image: url(images/16px/monitor_16.png);}
.icon_16_notepad_edit {background-image: url(images/16px/notepad_edit_16.gif);}
.icon_16_phone {background-image: url(images/16px/phone_16.gif);}
.icon_16_plus {background-image: url(images/16px/plus_16.png);}
.icon_16_present {background-image: url(images/16px/present_16.png);}
.icon_16_preview {background-image: url(images/16px/preview_16.gif);}
.icon_16_print {background-image: url(images/16px/print_16.gif);}
.icon_16_right {background-image: url(images/16px/right_16.png);}
.icon_16_save {background-image: url(images/16px/save_16.png);}
.icon_16_search {background-image: url(images/16px/search_16.png);}
.icon_16_settings {background-image: url(images/16px/settings_16.gif);}
.icon_16_shopping_cart {background-image: url(images/16px/shopping_cart_16.gif);}
.icon_16_sharp {background-image: url(images/16px/sharp_16.png);}
.icon_16_statistics {background-image: url(images/16px/statistics_16.png);}
.icon_16_tick {background-image: url(images/16px/tick_16.png);}
.icon_16_trash {background-image: url(images/16px/trash_16.png);}
.icon_16_trash2 {background-image: url(images/16px/trash2_16.gif);}
.icon_16_trash_delete {background-image: url(images/16px/trash_delete_16.gif);}
.icon_16_undo {background-image: url(images/16px/undo_16.png);}
.icon_16_up {background-image: url(images/16px/up_16.png);}
.icon_16_user {background-image: url(images/16px/user_16.png);}
.icon_16_view {background-image: url(images/16px/view_16.gif);}
.icon_16_warning {background-image: url(images/16px/warning_16.png);}

.icon_24_ok {background-image: url(images/24px/ok_24.png);}
.icon_24_nok {background-image: url(images/24px/nok_24.png);}

.icon_32_next {background-image: url(images/32px/next_32.png);}
.icon_32_prev {background-image: url(images/32px/prev_32.png);}





















