.facture-form td { line-height : 30px; }
.facture-form tfoot tr.success td { background-color: #dff0d8; }
.facture-quantite-form { margin : 0 auto; }
.facture-quantite-form input { margin : 0 auto; }
.inventaire-quantite-form { margin : 0 auto; }
.inventaire-quantite-form input { margin : 0 auto; }

.facture_empty {
    height : 100px;
    font-weight : bold;
}

.bloc_facture_container { padding : 10px; position : relative; }
.bloc_facture { padding : 0 10px 10px 10px; border : 1px solid gray; }
.bloc_facture.bloc_client { float : left; width : 368px; height : 170px; }
.bloc_facture.bloc_boutique { float : left; width : 368px; height : 170px; margin-right : 10px; }
.bloc_facture.bloc_detail { margin-top : 175px; }
.bloc_facture_article_list { list-style-type: none; margin-top : 10px; }
.bloc_facture_article { line-height : 20px; padding-left : 20px; }