/* 
    Document   : main
    Created on : 15 oct. 2012, 08:15:14
    Author     : gautierju
    Description:
        Purpose of the stylesheet follows.
*/

html {
    background : #CDCDCD;
}

body {
  width : 1080px;
  margin: 0 auto;
  padding: 0;
  margin-top : 20px;
  margin-bottom : 20px;
}

root { 
    display: block;
}

.hidden {
    display : none;
}

table {
    border : 1px solid gray;
    border-collapse: collapse;
}

table th {
    background-color : gray;
    color : white;
    font-weight : bold;
    padding-left : 10px;
    padding-right : 10px;
    border : 1px solid white;
}

table td {
    padding-left : 10px;
    padding-right : 10px;
    border : 1px solid gray;
}

#banner {
    background : white;
    height : 150px;
    margin-bottom : 5px;
    border : 1px solid gray;
    -moz-border-radius: 20px 20px 5px 5px;
    -webkit-border-radius: 20px 20px 5px 5px;
    -border-radius: 20px 20px 5px 5px;
    padding : 15px;
}

#body_content {
    float : left;
    width : 810px;
    border : 1px solid gray;
    -moz-border-radius: 5px 5px 5px 20px;
    -webkit-border-radius: 5px 5px 5px 20px;
    -border-radius: 5px 5px 5px 20px;
    padding : 15px;
    min-height: 800px;
    background : white;
}

ul {
    margin : 0;
    padding : 0;
}

#side_links {
    width : 200px;
    float : right;
    min-height: 800px;
    border : 1px solid gray;
    -moz-border-radius: 5px 5px 20px 5px;
    -webkit-border-radius: 5px 5px 20px 5px;
    -border-radius: 5px 5px 20px 5px;
    padding : 15px;
    background : white;
}

#side_links ul {
    list-style-type: none;
}