  <h3>Articles trouvés</h3>

    {% if articles|length > 0 %}
        <table class="records_list">
                <thead>
                    <tr>
                        <th>Code</th>
                        <th>Libellé</th>
                        <th>Prix de vente</th>
                        <th>Stock</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for article in articles %}
                    <tr>
                        <td>{{ article.code }}</td>
                        <td>{{ article.libelle }}</td>
                        <td>{{ article.prixVente }}</td>
                        <td>{{ article.getSommeStocks }}</td>
                        <td>
                            SELECT
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
    {% else %}
        Aucun article correspondant à votre recherche a été trouvé.
    {% endif %}