{% extends "BoutiqueGestionStockBundle::layout.html.twig" %}

{% block content %}

    <h1>Ajouter une entrée de stock à un article</h1>

    Rechercher un article : 
    <form id="search_article_form" action="{{ path('article_search') }}" method="post">
        <input id="search_article_field" type='text' name='search_article' >
    </form>

    <div id="search_results"></div>
    
    <div id="restock_form"><a href="{{ path('article') }}">Annuler</a></div>

{% endblock %}