{% extends "BoutiqueConfigurationBundle::layout.html.twig" %}

{% block content %}
    <h4>Modification d'une remise</h4>

    <form action="{{ path('remise_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
        {% include "BoutiqueConfigurationBundle:Remise:_form.html.twig" with {'form' : edit_form} %} 
        <div class="right">
            <a class="btn" href="{{ path('remise') }}">Annuler</a>
            <button class="btn btn-success" type="submit">Enregistrer</button>
        </div> 
    </form>
{% endblock %}