<div id="facture_client">
    Cette facture est destinée à : 
    {% if facture.client|length > 0 %}
        {{ facture.client.prenom}} {{ facture.client.nom }}
    {% else %}
        Aucun client
    {% endif %}.
</div>