{% extends "BoutiqueGestionStockBundle::layout.html.twig" %}

{% block content %}
    <h3>Modification du fournisseur</h3>

    <form action="{{ path('fournisseur_update', { 'id': fournisseur.id }) }}" method="post" {{ form_enctype(form) }}>
        {% include 'BoutiqueGestionStockBundle:Fournisseur:form.html.twig' with {'form' : form} %}
        
        <div class="right">
            <a class="btn" href="{{ path('fournisseur') }}">Retour</a>
            <button class="btn btn-success" type="submit">Modifier</button>
        </div>
    </form>
{% endblock %}