{% extends "BoutiqueGestionStockBundle::layout.html.twig" %}

{% block content %}
    <h1>Modification du fournisseur</h1>

    <form action="{{ path('fournisseur_update', { 'id': fournisseur.id }) }}" method="post" {{ form_enctype(form) }}>
        {% include 'BoutiqueGestionStockBundle:Fournisseur:form.html.twig' with {'form' : form} %}
        <button type="submit">Modifier</button>
    </form>

    <a href="{{ path('fournisseur') }}">Retour</a>
    <a href="{{ path('fournisseur_delete', { 'id': fournisseur.id }) }}" >Supprimer</a>
{% endblock %}