<table class="table table-bordered">
    <tbody>
        <tr>
            <th colspan=2 class="blue">Informations générales du fournisseur</th>
        </tr>
        <tr>
            <th class="width30">Raison sociale</th>
            <td class="">{{ form_widget(form.nom) }}</td>
        </tr>
        <tr>
            <th class="width30">SIREN</th>
            <td class="">{{ form_widget(form.siren) }}</td>
        </tr>
        <tr>
            <th class="width30">Téléphone</th>
            <td class="">{{ form_widget(form.telephone) }}</td>
        </tr>
    </tbody>
</table>

{{ form_widget(form) }}