{% extends "BoutiqueGestionStockBundle::layout.html.twig" %}

{% block content %}
    <h1>Ajout d'un nouveau fournisseur</h1>

    <form action="{{ path('fournisseur_create') }}" method="post" {{ form_enctype(form) }}>
        {% include 'BoutiqueGestionStockBundle:Fournisseur:form.html.twig' with {'form' : form} %}
        <button type="submit">Enregistrer</button>
    </form>

    <a href="{{ path('fournisseur') }}">Retour</a>
{% endblock %}