{% extends "BoutiqueGestionStockBundle::layout.html.twig" %}

{% block content %}
    <h1>Ajout d'un nouveau fournisseur</h1>

    <form action="{{ path('fournisseur_create') }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <button type="submit">Enregistrer</button>
    </form>

    <a href="{{ path('fournisseur') }}">Retour</a>
{% endblock %}