{% extends "BoutiqueGestionStockBundle::layout.html.twig" %}

{% block content %}
    <h3 class="icon_32_before icon_32_next">Ajout d'un nouveau fournisseur</h3>

    <form action="{{ path('fournisseur_create') }}" method="post" {{ form_enctype(form) }}>
        {% include 'BoutiqueGestionStockBundle:Fournisseur:form.html.twig' with {'form' : form} %}
        <div class="right">
            <a class="btn" href="{{ path('fournisseur') }}">Retour</a>
            <button class="btn btn-success" type="submit">Modifier</button>
        </div>
    </form>

{% endblock %}