{% extends "BoutiqueConfigurationBundle::layout.html.twig" %}

{% block content %}
    <p>Configurez les outils permettant d'administrer votre boutique dans cet espace en sélectionnant les divers éléments sur le menu de gauche.</p>
{% endblock %}